body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	background:lightgray;
}

.wrapper {
	width: 700px;
	margin: 0 auto;
	text-align: center
}

.links-bar {
	background: cadetblue;
	text-align: center;
	padding: 15px 15px;

}

.links-bar a {
	text-decoration: underline;
	color: black;
	font-weight:  bold;
}

.the-basics-list {
	width: 700px;
	margin: 0 auto;
	text-align: center;

}

.the-basics-list a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

/*h1 {
	text-align: center;
}   

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}*/