/*TIPS / GUIDELINES TO MAKE RESPONSIVE

- reference the two included comps.  one shows how the page should resond in a fluid manner, the other shows a change in style when screen width is less than 600px
- use percentage widths on the three tout columns on the bottom, and the .blurb element. Don't forget to use box-sizing: border-box to have padding and margin included in the elements' widths to make calculations easier
- in small view (<600px page width) remove the floats and center elements per the comp
- in small view (<600px page width) make the three touts full width per the comp
- in small view (<600px page width) don't render the tagline
- in small view you may want to take the vertical padding off of the individual '#page-header nav a' elements and put on their parent nav so if the nav wraps to next row the spacing looks ok.
- BONUS: use flexbox (as covered in bonus material class) instead of floats and handle fluid layout with flexbox instead of (or in addition to) percentages
- BONUS: have an alternative "hamburger" nav that replaces the header nav for small view (user clicks/taps a hamburger in the right of header to open/close the nav element)   
*/



/*MIKE!

I can't figure out how to get .blurb to stop getting super long before the break point of 600px. Also, the nav bar/header got a little weirldy spaced and I'm not totally sure why!



*/

html {
	  font-size: 20px;
	}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

/* Text Styles */
h1 {
	font-size: 2rem;
	line-height: 1;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 1.25rem;
	font-weight: bold;
}

p {
	margin: 0 0 30px 0;
	/*margin: 0 0 3.125% 0;*/
}

/* Shared Styles */
.button {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	background: yellow;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	/*padding: 1.25%;*/
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	box-sizing: border-box;
}

.page-wrap {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/* Header Styles */
#page-header {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	background: black;
	color: white;
	overflow: hidden;
	border-bottom: 4px solid yellow;
	padding: 0 3%;
}

#page-header a {
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
}

#page-header h1 {
	box-sizing: border-box;
	flex-shrink: 0;
	color: yellow;
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	margin: 2.1% 0 0 0;
}

#page-header nav {
	display: flex;
	flex-basis: 65%;
	justify-content: flex-end;
	box-sizing: border-box;
}

#page-header nav ul {
	display: flex;
    
}

#page-header nav li {
	flex-direction: row;
	flex-shrink: 0;
	/*box-sizing: border-box;
	float: left;*/
}

#page-header nav a {
	box-sizing: border-box;
	display: block;
	padding: 0px 5px;
}

#page-header nav li a:hover {
	color: yellow;
}

/* Tagline Styles */
.tagline {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
	padding: 2.1% 2.9%;
	font-size: 1.25rem;
	line-height: 20px;
	font-style: italic;
	background: #C6C6C6;
	border-top: 1px solid #AAA;
}

.tagline del {
	color: #999;
}

.tagline ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}

/* Banner */
.banner {
	
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	background: url(../images/coworking.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 2.5%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	box-sizing: border-box;
}

.blurb {
	
	background: rgba(255,255,255,.8);
	/*flex-basis: 40%;
	min-width: 40%;
	flex-shrink: 0;*/
	width: 40%;
	margin: 0;
	padding: 4%;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	box-sizing: border-box;
}

/* Three columns */
.touts {
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	background: #EEE;
	background: white;
	overflow: hidden;
	padding: 2.91% 0;
}

.tout {
	box-sizing: border-box;
	width: 33.33333%;
	padding: 2.1%;
	border-right: 1px solid #ccc;
}

.tout-3 {
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,0);
}

.tout .button {
	box-sizing: border-box;
	background: #C6C6C6;
}

/* Footer */
footer {
	box-sizing: border-box;
	background: black;
	color: white;
	padding: 2.1% 3.125%;
}

/*media queries*/
 @media (max-width: 600px) {
	#page-header {
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#page-header nav a {
		padding: none;
	}

	.tagline {
		display: none;
	}

	.touts {
		flex-direction: column;
	}

	.tout {
		width: 100%;
		border-right: none;
		flex-grow: 1;
		text-align: center;
	}

	.tout-3 {
		border-right: none;
	}

	.blurb {
		width: 100%;
	}

	.banner {
		justify-content: center;
		padding: 7% 4%;
	}
}